/* start to the common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
  list-style: none;
}
i {
  margin-left: 0.3rem;
}
p {
  margin-bottom: 0;
}

/* text title */
.big_title {
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  color: transparent;
  letter-spacing: 0.2rem;
  pointer-events: none;
  -webkit-text-stroke: 0.05rem #443;
  position: relative;
}
.big_title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 2rem;
  color: #443;
}
/* end */
a {
  color: black;
  display: inline-block;
  text-decoration: none;
}

/* all boostap */
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: #0000008c;
  --bs-navbar-hover-color: #000000b3;
  --bs-navbar-disabled-color: #0000004d;
  --bs-navbar-active-color: #000000e6;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #000000e6;
  --bs-navbar-brand-hover-color: #000000e6;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: #0000001a;
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  padding: 1rem;

  box-shadow: 5px 1px 171px -5px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 5px 1px 171px -5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 5px 1px 171px -5px rgba(0, 0, 0, 0.21);
}
/* end to all bostap  */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav-item {
  margin: 0 5px;
}
.button a {
  border: 2px solid slateblue;
  padding: 0.4rem;
  border-radius: 95% 5% 90% 10% / 7% 92% 8% 93%;
}
.button a:hover {
  background-color: tomato;
  color: black;
}

.banner_part {
  background: url(../image/home-bg.jpg) no-repeat center;
  /* background: url(../video/bg.mp4); */
  background-size: cover;
  margin-top: 13px;
  height: 600px;
}

.banner_part .text h3 {
  padding-top: 13rem;
  font-size: 3.9rem;
  color: #443;
}
.imagess img {
  height: 20rem;
  margin-top: 7rem;
  animation: down 4s linear infinite;
}
@keyframes down {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem);
  }
}

.imagesf {
  text-align: center;
  margin-top: 2.2rem;
}
.imagesf img {
  height: 6rem;
  margin-right: -22px;
  cursor: pointer;
}

.imagesf img:hover {
  transform: translateY(-1.2rem);
}

button {
  padding: 0.6rem;
  background: transparent;
  border: 2px solid saddlebrown;
  margin-top: 15px;
}
button:hover {
  background-color: tomato;
  color: black;
}

#about_part {
  margin-top: 80px;
}
#about_part .pic {
  margin-top: 0px;
  margin-bottom: 80px;
}
#about_part .pic img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation: about_img 4s linear infinite;
}
@keyframes about_img {
  0%,
  100% {
    transform: scale(0.8);
    border-radius: 93% 7% 90% 10% / 12% 94% 6% 88%;
  }
  50% {
    transform: scale(0.7.6);
    border-radius: 75% 25% 85% 15% / 26% 70% 30% 74%;
  }
}

#about_part .text_one {
  margin-top: 50px;
}
.text_one a {
  padding: 0.6rem;
  background: transparent;
  border: 2px solid saddlebrown;
  margin-top: 8px;
}
.items {
  text-align: center;
  /* width: 80px;
    height: 120px; */
  width: 150px;
  border: 2px solid black;

  border-radius: 95% 5% 90% 10% / 7% 92% 8% 93%;
  margin-top: 30px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.items i {
  font-size: 26px;
}
.flex_ro {
  display: flex;
  justify-content: space-between;
}

#manu_part {
  margin-bottom: 100px;
}
#manu_part {
  background: url(../image/menu-bg.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

.items_three {
  border: 2px solid saddlebrown;
  border-radius: 95% 5% 97% 3% / 7% 100% 0% 93%;
  padding: 1rem;
  width: 380px;
  padding-left: 4rem;
  position: relative;
  margin-bottom: 25px;
  margin-right: 18px;
  margin-top: 8%;
  margin-left: 26px;
}

.items_three:hover {
  background-color: rgb(220, 235, 6);
}
.items_three .img_postion {
  position: absolute;
  top: 45px;
  left: -34px;
  transform: translate();
}
.items_three img {
  width: 70%;
}
.al_flex {
  display: flex;
  justify-content: space-evenly;
}

#review_part {
  margin-bottom: 60px;
}

.itemsss {
  border: 2px solid saddlebrown;
  border-radius: 96% 4% 97% 3% / 3% 97% 3% 97%;
  width: 200px;
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  margin-top: 55px;
  /* margin-left: 3rem; */
  position: relative;
}
.itemsss {
  width: 63%;
}

.itemsss img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  margin: 0 auto;
}
.star {
  margin-top: 8px;
}

.itemsss .review {
  font-size: 8rem;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(20%);
}

.itemsss:hover .review {
  font-size: 8rem;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-100%);
}

.itemsss .down {
  font-size: 8rem;
  position: absolute;
  top: 0;
  right: 40px;
  transform: translateY(140px);
}
.itemsss:hover .down {
  font-size: 8rem;
  position: absolute;
  top: 0;
  right: 40px;
  transform: translateY(220px);
  z-index: 99;
}

#review_part .slick-dots {
  font-size: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

#book_atable {
  background: url(../image/book-bg.jpg) no-repeat center;
  background-size: cover;
  height: 610px;
}

.border_one {
  text-align: center;
  padding-top: 2rem;
  border: 2px solid black;
  padding: 0.8rem;
  width: 560px;
  margin: 0 auto;
  border-radius: 94% 6% 98% 2% / 6% 99% 1% 94%;
}

.border_one input {
  border: 2px solid saddlebrown;
  background: none;
  padding: 0.5rem;
  width: 80%;
  border-radius: 8px;
  /* display: block; */
  /* margin-bottom: 15px; */
  margin: 15px auto;
}

.border_one .big {
  height: 120px;
}

.border_one input:hover {
  border-style: dashed;
}

/* start to the footer part */

#footer_part {
  padding-top: 50px;
}

#footer_part .our_brach {
  background-color: white;
  height: 300px;
}

#footer_part .quick_links {
  background-color: white;
  height: 300px;
}

#footer_part .contact_info {
  background-color: white;
  height: 300px;
}

#footer_part .social_media {
  background-color: white;
  height: 300px;
}
.our_brach h5 {
  padding-top: 1.3rem;
  /* text-align: center; */
  padding-bottom: 0.6rem;
}
.social_media h5 {
  padding-top: 1.3rem;
  /* text-align: center; */
  padding-bottom: 0.6rem;
}

#footer_part i {
  display: block;
  margin-bottom: 22px;
  margin-left: 0.9rem;
}
#footer_part i a {
  margin-left: 7px;
}

.quick_links h5 {
  padding-top: 1.3rem;
  /* text-align: center; */
  padding-bottom: 0.6rem;
}

.contact_info h5 {
  padding-top: 1.3rem;
  /* text-align: center; */
  padding-bottom: 0.6rem;
}

#review .slick-active .slick-dots {
  background-color: red;
}
.copyright p {
  color: black;
}

.copyrightbg {
  background-color: #e4e1dc;
  padding: 20px 0;
  text-align: center;
}
